template(name="about")

    section#about

        h2 About Ziplearn

        p
            | ZipLearn is an integrated set of classroom tools for interactive presentations. It is currently in early development stages and most of the planned features have not been implemented. It uses web technologies like HTML5, javascript, and websockets to do this. The presentations viewer component uses
            a(href="http://lab.hakim.se/reveal-js") Hakim El Hattab's Reveal.js.
