template(name="controller")

    section#controller.controller

        h2 Controller

        .controls
            a.control.restart(href="#") restart
            br

            a.control.prev(href="#")
                i.fa.fa-chevron-left.fa-fw
            a.control.pause(href="#")
                i.fa.fa-pause.fa-fw
            a.control.next(href="#")
                i.fa.fa-chevron-right.fa-fw
