template(name="controller")

    section#controller.controller

        h2 Controller

        .controls
            a.control.restart(href="#") restart
            br

            .row
                .col-xs-4.col-md-2
                    a.control.prev(href="#")
                        i.fa.fa-chevron-left.fa-fw
                .col-xs-4.col-md-2
                    a.control.pause(href="#")
                        i.fa.fa-pause.fa-fw
                .col-xs-4.col-md-2
                    a.control.next(href="#")
                        i.fa.fa-chevron-right.fa-fw
