template(name="home")
    section#home
        if currentUser
            h2 ZipLearn tools
            ul
                li
                    a(href="/settings") Settings
                li
                    a(href="/shows") Slideshows
                if isInRole 'controller'
                    li
                        a(href="/controller") Controller

        else
            h2
                i.fa.fa-exclamation-circle
                | Login required
            p You must sign in to use the Ziplearn tools. Use dropdown from the menu above.
