template(name="notAuthorized")
    section#not-autorized
        h2
            i.fa.fa-exclamation-circle
            | Not authorized
        p Sorry, you must have special permissions to access this page.
