template(name="viewer")
    head
        title ZipLearn Presentation
        link(rel="stylesheet", href="/css/reveal/reveal.min.css")
        link(rel="stylesheet", href="/css/reveal/theme/#{theme}.css")

    .reveal
        .slides

            section
                h1 ZipLearn
                h3 An Introduction

            section
                h2 This is a slide

            section
                h1 THE END
