  ///////////////
 // Variables //
///////////////

$font-color: white;
$bg-color: #0d5c93;
$link-color: yellow;
$base-font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

$form-label-font-color: #fff;
$input-focus-border-color:aquamarine;

$fa-font-path: "/fonts";
$icon-font: 'FontAwesome';
