  ///////////////
 // Variables //
///////////////

$fontcolor: #ffffff;
$bgcolor1: #79bfb5;
$bgcolor2: #e7b138;
$nav-bg-color: none;
$link-color: $fontcolor;
$base-font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

$form-label-font-color: #fff;
$input-focus-border-color:aquamarine;

$fa-font-path: "/fonts";
$icon-font: 'FontAwesome';
