@import "settings";
@import "font-awesome/font-awesome";

  ////////////
 // Styles //
////////////

html, body {
  height:100%;
}

body {
  font-family: $base-font;
  background-color: $bg-color; /*top colour*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $font-color;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;
  &:hover {
    color: lighten($link-color, 40)
  }
}

// might add another one between 750 and 1100 for the ipads
@media only screen and (max-width: 1100px) {
  body {
    background-image: url(/images/bg-phone.jpg);
    background-size: 100% auto;
  }
}

@media only screen and (min-width: 1101px) {
  body {
    background-image: url(/images/bg-full.jpg);
    background-size: cover;
  }
}

.navbar {
  background:none;
  color: $font-color;
  border:none;
  border-bottom: 1px solid white;
  .navbar-brand {
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.2);
    font-weight:900;
    font-size:2em;
    color: $font-color;
    &:hover {
      color: $font-color;
    }
  }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-nav > li > a {
  color: $font-color;
  &:hover{
    color: $font-color;
    background: rgba(0,0,0,0.3);
  }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: rgba(255,255,255,0.4);
}

.navbar-default .navbar-toggle {
    &:hover {
      color: darken($font-color, 20);
    }
    &:hover, &:focus, &:active {
      background: none;
  }
}

.controls a {
  font-size: 3em;
  i {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 2em;
    &:active{
      color: lighten($link-color, 10);
      text-shadow: none;
      text-shadow: 0 0 40px white;
    }
  }
  &:hover {
    color: $link-color;
  }
}
section {
  padding: 1em;
}

footer {
  padding: 1em;
}
